## Compiled JavaScript files
/lib/

# Typescript v1 declaration files
typings/

node_modules/
.firebase-debug.log

**/*.log

# firebase-functions-test online mode
serviceAccountKey-dev.json
.runtimeconfig.json