{
  "twilio": {
    "service_sid": "1",
    "auth_token": "1",
    "account_sid": "ACXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  },
  "algolia": {
    "id": "F7OG87T3T6",
    "general_requests_index": "generalRequests_test",
    "key": "de24ffdbb66d368ada367d5bd0afd275",
    "unauthenticated_requests_index": "unauthenticatedRequests_test"
  }
}
