@import '~antd/dist/antd.css';

h2.ant-typography,
.ant-typography h2 {
  font-size: 28px !important;
}

@media (max-width: 667px) and (orientation: portrait) {
  .ant-card {
    min-width: 100%;
    /* background: transparent !important; */
  }
  /* .ant-card-bordered {
    border: none !important;
  } */
}

@media (min-width: 1024px) and (orientation: landscape) {
  .ant-card {
    min-width: 50%;
  }
}

@media (min-width: 667px) {
  .withContentPaddingDesktop {
    padding: 50px 50px;
  }
}

/* Ant Design Theme override */

.ant-card {
  border-radius: 4px !important;
}
.ant-btn-primary {
  min-width: 200px;
  color: #fff;
  background-color: #1890ff !important;
  border: none !important;
  border-radius: 4px !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-modal-header,
.ant-modal-footer {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  border: none !important;
}

.ant-modal-header > .ant-btn,
.ant-modal-footer > .ant-btn {
  margin: 10px 0 0 0 !important;
}
.ant-modal-footer {
  padding-bottom: 30px !important;
}
