html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}
.container {
  width: 300px;
  margin: 200px auto;
  padding: 10px;
  border: 1px solid gray;
}
.form-control input {
  display: block;
  margin: 10px 0;
}
