/** 
* Styling module for Request Component (Beneficiaries Request).
* @author: Neck
* @version: 0.1.1
* @since:
*/

.getSupport {
    padding: 1rem;
    --gray1: #333333;
    --darkBlack: #000000;
    --gray2: #c4c4c4;
    --gray3: #828282;
    --gray4: #bdbdbd;
}

.informationCategory {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--gray1);
}

.personalDetails,
.healthDetails {
    display: flex;
    flex-direction: column;
}
.personalDetails form,
.healthDetails form {
    display: flex;
    flex-direction: column;
}

.personalDetails form label,
.BeneficiariesTextLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.personalDetails form label input,
.personalDetails form label select,
.BeneficiariesTextInput {
    background: #fafafa;
    border: 1px solid var(--darkBlack);
    box-sizing: border-box;
    max-width: 514px;
    padding: 5px 10px;
    height: 30px;
}

.zipcodeInput {
    width: 151px;
}
/* ------------------------------------ */
/* submit button which is Next button  */
.submit {
    height: 48px;
    width: 160px;
    border: none;
    border-radius: 10px;
    background: var(--gray2);
    cursor: pointer;

    font-weight: 700;
    font-size: 24px;
}

.inactiveSubmit {
    height: 48px;
    width: 160px;
    border: none;
    border-radius: 10px;
    background: var(--gray2);
    cursor: pointer;
    opacity: 0.5;
    font-weight: 700;
    font-size: 24px;
}
/* ------------------------------------ */
/* step component (DisplaySteps function) wrapper */
.stepWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* item wrapper */
.stepWrapperItem {
    display: flex;
    flex-direction: column;
    justify-content: center;

    row-gap: 1rem;
}
/* step number element */
.stepWrapperItemStep {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;

    color: var(--darkBlack);
}
/* step title element */
.stepWrapperItemTitle {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;

    color: var(--gray4);
}

.activeItemStep {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-family: Roboto;
    font-style: normal;
    letter-spacing: 0px;

    color: var(--darkBlack);
    background-color: var(--gray2);

    width: 43px;
    height: 43px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.activeItemTitle {
    color: var(--gray3);
}

/* step 1: Personal Details */
.stepWrapperItem:first-child {
    justify-self: right;
    align-items: center;
}
/* step 2: Health Details */
.stepWrapperItem:nth-child(2) {
    justify-self: center;
    align-items: center;
}
/* step 3: Program Details */
.stepWrapperItem:nth-child(3) {
    justify-self: left;
    align-items: center;
}
/* ------------------------------------ */
/* Health Details*/
/* Weak Immune System */
.radioButtonsWrapper {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.radioButtonsWrapper label {
    width: 6rem;
    display: flex;
    flex-direction: column;
}

/* div represents radio button*/
.radioButton {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin: 0.2rem;
    cursor: pointer;
}
/* active radio button */
.activeRadioButton {
    width: 1rem;
    height: 1rem;
    background-color: var(--darkBlack);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0.2rem;
}
.activeRadioButton::before,
.radioButton::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
}

.radioButtonsWrapper label span {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--darkBlack);
}

.inputTitle {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

/* Program Details */
.checkBoxDivs {
    margin-bottom: 13px;
}
.checkBoxDivs label {
    display: flex;
    align-items: center;
}
.checkBoxDivs label span {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 3px;
}

.checkBoxDivs label input[type="checkbox"] {
    height: 18px;
    width: 18px;
}

.checkBoxDivs input[type="text"] {
    margin-left: 2rem;
    margin-top: 0.5rem;
    background: #fafafa;
    border: 1px solid var(--gray4);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    max-width: 514px;
    padding: 5px 10px;
    height: 30px;
}
